.border_r_16 {
    border-radius: 16rpx;
    overflow: hidden;
}

.posi_rel {
    position: relative;
}

.border_r_20 {
    border-radius: 20rpx;
    overflow: hidden;
}

.safe_status_bar {
    width: 100%;
    height: var(--status-bar-height);
}

.safe_bottom {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.flex_1 {
    flex: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_c_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_c_col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_sb_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_sa_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_wrap {
    flex-wrap: wrap;
}

@mixin fnfont( $family: 'PingFangSC-Regular', $size: 28rpx, $color: #ffffff, $weight: 500) {
    @if str-length($family)==0 {
        font-family: 'PingFangSC-Regular';
    }
    font-family: $family;
    font-size: $size;
    color: $color;
    @if str-index($family, 'Medium') {
        font-weight: 600;
    }
    @else if $weight>500 {
        font-weight: $weight;
    }
    @else if $weight==bold {
        font-weight: 600;
    }
}

.main_bg_color {
    background-color: #f3f3f3;
}